#header {
    background: url("../images/banner-bk.png") no-repeat top left transparent;
    padding-left: 0;
    padding-right: 0;
}
.header__region  {
    clear: none;
    margin-top: 20px;
}
.header__logo {
    margin-left: 35px;
}
#block-block-3 {
    float: left;
}
h2.site-slogan {
    font-size: 1.2em;
    font-weight: 500;
    margin: 30px 0 0 110px;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
    float: left;
}
#block-search-form {
    float: right;
    margin-right: 20px;
}
// Main navigation
#block-system-main-menu {

    float: right;
    ul {
        list-style: none;
        text-align: right;
        margin-top: 20px;
        li {
            float: left;
            margin: 0;
            padding: 0;
            list-style-image: none;
            list-style: none;
            border-left: 3px solid #fff;
            a {
                background-color: #933;
                display: block;
                color: #fff;
                text-decoration: none;
                font-size: 13px;
                padding: 5px 10px;
                &:hover {
                    background-color: #C22D29;
                }
            }
        }
    }
}